$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$body-bg: #f5f5f5;
@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,100,300);
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;



// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 80px;
    padding-bottom: 19px;
    .img-responsive {
      max-width: 320px;
    }
  }
}

h2, h3, h4 {
  font-family: "Roboto";
  font-weight: 300;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }

}

.angular-google-map-container { height: 400px; }

.content-wrapper{
  background-color: #FFFFFF;
  padding: 5px 30px 15px 30px;
  border: 0px solid darken(#1A9CCA, 3%);
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 25px #888888;

}

.glyphicon-star {
  color: red;
}

.cat-image {
  height:30px;
  position: relative;
  top: -2px;
  padding-right: 10px;
}

.cat-image-single {
  height:35px;
  position: relative;
  padding-right: 10px;
}

.evt-image {
  max-height: 201px;
  margin-bottom: 10px;
}

.single-evt-image {
  margin-bottom: 10px;
}

header > nav > ul > li > a {
  color: $gray-dark;
}

.align {
  margin-top: 24px;
}

.nav-pills > li a:hover {
  background-color: white;
}

.appstore {
  position: absolute;
  top: 80px;
  right:20px;
}

.play {
  position: absolute;
  top: 20px;
  right:20px;
}

.appImg {
  width: 120px;
}

.btn-toolbar {
  padding-bottom: 20px;
  .btn {
    background-color: #ffffff;
  }
}

.angular-google-map {
  padding-bottom: 15px;
}


