html {
  background: #fafafa;
}

.flex-row {
    display: flex;
    flex: 1 1;
    flex-direction: row;
}

.event-content {
  flex: auto;
  margin: 0 auto;
}

header {
  text-align: center;
  text-shadow: 8px 0px 0px #ffff00;
}

.event-content, .eventbox {
  width: 800px;
  max-width: 800px;
}

.eventbox {
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 1em;
}

.eventbox img {
  width: inherit;
  max-height: 400px;
}

.sidebar {
  display: flex;
  flex: auto;
  max-width: 300px;
  background: #f0f0f0;
  border: 1px solid #aaa;
}

.rc-calendar {
  margin: 1em;
  border: 1px solid #aaa;
}

.rc-calendar-date {
  border: 1px solid #aaa;

  min-width: 2em;
  min-height: 2em;
  text-align: center;

  &:hover {
    background: #ff00ff;
  }
}

.rc-calendar-last-month-cell {
  background: #eee;
}
.rc-calendar-next-month-btn-day {
  background: #eee;
}

.rc-calendar-date[aria-selected="true"] {
  background: #999;
}
