html {
  background: #fafafa;
}
.eventbox {
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 1em;
  width: 800px;
  max-width: 800px;
}

.eventbox img {
  width: inherit;
  max-height: 400px;
}

.sidebar {
  float: right;
  width: 500px;
}

.rc-calendar {
  margin: 1em;
  border: 1px solid #aaa;
}

.rc-calendar-date {
  border: 1px solid #aaa;

  min-width: 2em;
  min-height: 2em;
  text-align: center;
}

.rc-calendar-last-month-cell {
  background: #eee;
}
.rc-calendar-next-month-btn-day {
  background: #eee;
}

.rc-calendar-date[aria-selected="true"] {
  background: #999;
}
