<div class="col-md-8 col-md-offset-2">

  <section class="content-wrapper">
    <img class="img-responsive" src="images/SMIT.png" style="padding-top: 15px;">
    <p class="lead"></br>Barteguiden er utviklet av Studentmediene i Trondheim AS.</p>
    <p>Studentmediene i Trondheim AS organiserer studentmediene Under Dusken, <a href="http://dusken.no" target="_blank">dusken.no</a>, Radio Revolt, Student-TV, samt tjenestene <a href="https://ibok.no" target="_blank">iBok.no</a> og Barteguiden. Våre medier har som mål å fokusere på studentene i Trondheims ve og vel – både faglig og sosialt – ved å gi disse riktig og viktig informasjon om studielivet. De skal også dekke andre hendelser av interesse innen utdannings- og forskningsmiljøene i Norge.</p>
    <p><strong>Kontakt oss på:</strong>
      <a href="mailto:barteguiden@studentmediene.no">barteguiden@studentmediene.no</a></p>
    <br>
    <small>Bakgrunnsbildet "<a href="https://flic.kr/p/mgL6Hi">Studentersamfundet med Erbe-reklame (1960-tallet)</a>" fra <a href="https://www.flickr.com/people/trondheim_byarkiv/">Trondheim byarkiv</a> er lagt under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></small>
  </section>
</div>
