

<div class="row">

  <div class="col-md-2">

  </div>
  <div class="col-md-3 col-md-push-7 filter-menu">
    <section class="filters"resize>
      <h4 class="text-center">Filtrer</h4>
      <div role="toolbar" ng-init="showFilterOptions()">
        <div ng-class="{'btn-group-vertical': style(), 'btn-group-horizontal': !style()}">
          <button type="button" class="btn btn-default btn-sm"  ng-repeat="categoryOption in categoryOptions" ng-click="clickOption(categoryOption, chosenCategories)" ng-class="{active: isActive(categoryOption, chosenCategories)}"><img height="15px" ng-src="images/{{categoryOption.id}}.png"> {{categoryOption.name}}</button>
        </div>
        <div class="btn-group btn-group-justified">
          <div class="btn-group" ng-repeat="priceOption in priceOptions"><button type="button" class="btn btn-default btn-sm" ng-click="clickOption(priceOption, chosenPrices)" ng-class="{active: isActive(priceOption, chosenPrices)}"> {{priceOption.name}}</button></div>
        </div>
        <div ng-class="{'btn-group-vertical': style(), 'btn-group-horizontal': !style()}">
          <button type="button" class="btn btn-default btn-sm"  ng-repeat="ageOption in ageLimitOptions" ng-click="clickOption(ageOption, chosenAges)" ng-class="{active: isActive(ageOption, chosenAges)}"> {{ageOption.name}}</button>
        </div>
        <div ng-class="{'btn-group-vertical': style(), 'btn-group-horizontal': !style()}">
          <button type="button" class="btn btn-default btn-sm" ng-click="resetFilter()"> Vis alle </button>
        </div>
      </div>
      <h4 class="text-center">Velg dato</h4>
      <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </section>
  </div>


  <div class="col-md-7 col-md-pull-3">

    <section>
      <section class="calendar-wrapper" ng-repeat="(date, events) in filteredEvents = (events | orderBy:'startAt' | filter: query | filterByCategory:chosenCategories | filterByAgeLimit:chosenAges | filterByPrice:chosenPrices | filterByDate: dt) | limitTo: pageSize * currentPage | limitTo: pageSize * currentPage < filteredEvents.length ? -pageSize : pageSize - (pageSize * currentPage - filteredEvents.length) | groupByDate">
        <h2 style="color:white;" class="text-center"><span class="glyphicon glyphicon-calendar"></span>  {{date | date:'fullDate'}}</h2>
        <article class="content-wrapper" ng-repeat="event in events">
          <header class="event-header">
            <img class="img-responsive pull-left cat-image" ng-src="images/{{event.categoryID}}.png"/>
            <div class="pull-right" ng-show="event.isRecommended"><span class="glyphicon glyphicon-star"></span> Anbefalt </div>
            <a ng-href="#/arrangement/{{event.eventID}}/{{event.title | slugify}}"><h3> {{event.title}}</h3></a>
          </header>
          <div class="event-body">
            <img class="img-responsive evt-image" ng-src="{{event.imageURL}}">
            <p>{{event.descriptions[0].text | cutText: 285}}</p>
            <p><strong>Tid:</strong> <time>{{event.startAt | date:'EEEE d. MMM y kl. HH:mm'}}</time> </br>
              <strong>Sted:</strong> {{event.placeName}} </br>
              <strong>Pris:</strong> {{event.price | isFreeEvent}}</p>
          </div>
        </article>
      </section>
      <p ng-hide="filteredEvents.length"> Ingen hendelser passer søket ditt. </p>
    </section>
    <section>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <pagination total-items="filteredEvents.length" ng-model="currentPage" items-per-page="pageSize" previous-text="Forrige" next-text="Neste" max-size="5" boundary-links="true" first-text="Første" last-text="Siste" rotate="false" ng-change="scroll()"></pagination>
        </div>
      </div>
    </section>
  </div>
</div>



