<section class="events">
    <article class="content-wrapper" ng-repeat="event in events | orderBy:'startAt' | filter: query | filter: {categoryID: chosenCategory}">
      <header class="event-header">
        <img class="img-responsive pull-left" style="height:40px; position: relative; top: -5px; padding-right: 5px;" ng-src="images/{{event.categoryID}}.png"/>
        <a ng-href="#/arrangement/{{event.eventID}}/{{event.title | slugify}}"><h3> {{event.title}}</h3></a>
      </header>
      <div class="event-body">
        <img class="img-responsive" src="{{event.imageURL}}">
        <p>{{event.descriptions[0].text}}</p>
        <p><strong>Tid:</strong> <time>{{event.startAt | date:'EEEE d. MMM y kl. HH:mm'}}</time> </br>
        <strong>Sted:</strong> {{event.placeName}} </br>
        <strong>Pris:</strong> {{event.price | isFreeEvent}}</span></p>
      </div>
    </article>
</section>
